@model IEnumerable<AtivSem03.Models.Carro>

@{
    ViewData["Title"] = "ReadCarros";
}

<h1>ReadCarros</h1>

<p>
    <a asp-action="AdicionarCarro">Adicionar Carro</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in (List<Carro>)ViewBag.Carros) {
        <tr>

            <td>
                @item.Id
            </td>
            <td>
                @item.documento
            </td>
            <td>
               @item.modelo
            </td>
            <td>
               @item.placa
            </td>
           
            <td>
                @Html.ActionLink("Update", "UpdateCarro", new {/* id=item.PrimaryKey */}) |
               
                @Html.ActionLink("Delete", "DeleteCarro", new { item })
            </td>
        </tr>
}
    </tbody>
</table>


    
